<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/fore/foreHeader::html('确认订单')" ></head>

<body>
	<div id="app">
	
		<van-row class="m-header" >
			<van-col span="3" @click="leftBack">
				<van-icon name="arrow-left" class="m-header-icon" />
			</van-col>
			<van-col>
				<span>确认订单</span>
			</van-col>
		</van-row>
		
		<div class="orderConfirm-content">
			<van-row class="orderConfirm-address" >
				<van-col span="5">
					<van-image class="orderConfirm-address-icon" round src="img/site/address.jpg"></van-image>
				</van-col>
				<div v-if="showAddress" >
					<van-col span="17">
						<p>{{data4Order.receiver}} {{data4Order.mobile}}</p>
						<p class="orderConfirm-address-text-position">{{data4Order.address}}</p>
					</van-col>
					<van-col span="2" class="orderConfirm-address-arrow" @click="toEditAddress">
						<van-icon name="arrow"></van-icon>
					</van-col>
				</div>
				<div v-else>
					<van-col class="orderConfirm-address-toFill" span="19" @click="toEditAddress">
						还未填写地址，点击填写
					</van-col>
				</div>
			</van-row>
			
			<van-popup
				class="orderConfirm-addressEdit"
				closeable
				round
				v-model="showAddressEdit"
			>
				<van-form @submit="onSave">
					<van-field
					    v-model="data4Order.receiver"
					    name="receiver"
					    label="姓名"
					    placeholder="姓名"
					    :rules="[{ required: true, message: '请填写姓名' }]"
					></van-field>
					<van-field
					    v-model="data4Order.mobile"
					    name="mobile"
					    label="电话"
					    placeholder="电话"
					    :rules="[{ required: true, message: '请填写电话' }]"
					></van-field>
					<van-field
					    v-model="data4Order.address"
					    name="address"
					    label="地址"
					    placeholder="地址"
					    :rules="[{ required: true, message: '请填写地址' }]"
					></van-field>
					<van-field
					    v-model="data4Order.post"
					    name="post"
					    label="邮政编码"
					    placeholder="邮政编码"
					    :rules="[{ required: true, message: '请填写邮政编码' }]"
					></van-field>
					<van-field
					    v-model="data4Order.userMessage"
					    name="userMessage"
					    label="给商家留言"
					    placeholder="给商家留言，非必填"
					></van-field>
					<div style="margin: 16px;">
					    <van-button round block type="info" native-type="submit">
					      提交
					    </van-button>
					</div>
				</van-form>
			</van-popup>
			
			<van-row class="orderConfirm-orderItem" v-for="orderItem,index in orderItems">
				<van-card
					v-if="products[index]!=undefined"
					class="orderConfirm-orderItem-card"
				    :num="orderItem.number"
				    :price="products[index].originalPrice | formatMoneyFilter"
				    :thumb="'img/productSingle/' + products[index].firstProductImage.id + '.jpg'"
				>
					<div slot="title" style="font-size: 18px; margin-bottom: 8px;">
						{{products[index].name}}
					</div>
				</van-card>
			</van-row>
			
			<van-row class="orderConfirm-orderItem">
				<div class="orderConfirm-orderItem-col" >
					<van-col span="6" offset="1">
						邮费
					</van-col>
					<van-col span="15">
						￥{{data4Order.postage}}
					</van-col>
					<!-- <van-col span="2">
						<van-icon name="arrow" ></van-icon>
					</van-col> -->
				</div>
				<div class="orderConfirm-orderItem-col" >
					<van-col span="6" offset="1">
						鸽子币抵钱
					</van-col>
					<van-col span="15" style="color: #FA4B0C">
						<span v-if="0 == data4Order.reduce">未使用</span><span v-else>-￥{{data4Order.reduce}}</span>
					</van-col>
					<van-col span="2">
						<van-icon name="arrow" @click="onUseReward"></van-icon>
					</van-col>
				</div>
			</van-row>
			
			<van-popup
				v-model="showReward"
				closeable
			    round
			    position="bottom"
			    :style="{ height: '20%' }"
		  	>
				<van-row class="orderConfirm-showReduce">
					<van-col span="8" offset="1">可用积分</van-col>
					<van-col span="14" offset="1">{{rewardNow}}</van-col>
					<van-col span="8" offset="1">使用鸽子币</van-col>
					<van-col span="14" offset="1">
						<van-stepper v-model="reduce" step="100" min="0" :disable-plus="rewardNow<100" disable-input @change="onChangeReduce"></van-stepper>
					</van-col>
					<van-col span="14" offset="10">100鸽子币换1元</van-col>
				</van-row>
			</van-popup>
			
			<van-submit-bar
				class="orderConfirm-bottom"
			 	button-text="提交订单"
			 	@submit="onSubmit"
			>
				<van-col class="orderConfirm-bottom-allCount">
					<span>共{{allCount}}件，</span>
				</van-col>
				<van-col class="orderConfirm-bottom-price">
					<span>
						合计：
						<span class="orderConfirm-bottom-price-symbol">￥</span>
						<span class="orderConfirm-bottom-price-num">{{total + data4Order.postage - data4Order.reduce | formatMoneyFilter}}</span>
					</span>
				</van-col>
				<van-col span="1"></van-col>
			</van-submit-bar>
			
		</div>

	</div>

	<script>
		var data4Vue = {
			showAddress: false,
			showAddressEdit: false,
			showReward: false,
			data4Order: {
				address: '测试地址',
				post: '430056',
				receiver: '测试人',
				mobile: '12344448888',
				userMessage: '',
				postage: 0,
				reduce: 0
			},
			orderItems: [],
			products: [],
			total: 0,
			allCount: 0,
			reward: '',
			reduce: 0,
			rewardNow: 0
		}

		var vue = new Vue({
			el: '#app',
			data: data4Vue,
			mounted: function(){
				this.oiid = getUrlParms("oiid");
				this.getOrderItems();
			},
			methods: {
				leftBack() {
					goBack();
				},
				//确认、提交订单
				onSubmit() {
					if(this.showAddress) {
						var url = "forecreateorder";
						var order = this.data4Order;
						axios.post(url,order).then(function(response) {
							if(0==response.data.code) {
								//成功，跳转付款页面
								var result = response.data;
		                    	var order = result.data.order;
		                    	var total = result.data.total;
		                    	total = total + order.postage - order.reduce;
								location.href="pay?oid="+order.id+"&total="+total;
							}
							else {
								vant.Toast(response.data.message);
							}
						})
					} else {
						vant.Dialog.alert({message: '请填写地址'});
					}
				},
				toEditAddress() {
					this.showAddressEdit = true;
				},
				//保存地址
				onSave() {
					this.showAddressEdit = false;
					//显示地址
					this.showAddress = true;
				},
				getOrderItems() {
					var oiid = getUrlParms("oiid");
					var url = "foreorderconfirm?oiid=" + oiid;
					axios.get(url).then(function(response){
						vue.orderItems = response.data.orderItems;
						vue.total = response.data.total;
						vue.allCount = response.data.allCount;
						vue.data4Order.postage = response.data.postage;
						for(let i=0; i<vue.orderItems.length; i++) {
							vue.getProduct(vue.orderItems[i]);
						}
					})
				},
				getProduct(bean) {
					var url = "products/" + bean.pid;
					axios.get(url).then(function(response){
						vue.products.push(response.data);
					})
				},
				onUseReward() {
					this.showReward = true;
					var url = "forereward";
					axios.get(url).then(function(response){
						vue.reward = response.data[0];
						vue.rewardNow = vue.reward.total;
					})
				},
				onChangeReduce() {
					this.data4Order.reduce = this.reduce/100;
					this.rewardNow = this.reward.total - this.reduce;
				}
			}
		});
	</script>
</body>
</html>