<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/fore/foreHeader::html('我的积分')" ></head>

<body class="reward-body">
	
	<div id="app">
		
		<van-nav-bar title="我的积分">
			<van-icon name="arrow-left" slot="left" color="#000000" size="20px" @click="onClickLeft" />
		</van-nav-bar>
		
		<van-row class="reward-information">
			<van-col span="24">当前鸽子币 {{totalNow}} 个</van-col>
		</van-row>
		
		<div class="reward-details" v-if="null!=rewards">
			<div class="reward-details-head">鸽子币收支明细</div>
			<div class="reward-details-content" v-for="reward,index in rewards">
				<van-col span="1"></van-col>
				<van-col span="14">{{reward.createDate | formatDateFilter}}</van-col>
				<van-col span="8" class="reward-details-content-add" v-if="index==rewards.length-1">+{{reward.total}}</van-col>
				<van-col span="8" class="reward-details-content-add" v-else-if="'add'==reward.operation">+{{reward.total - rewards[index+1].total}}</van-col>
				<van-col span="8" class="reward-details-content-use" v-else-if="'use'==reward.operation">-{{rewards[index+1].total - reward.total}}</van-col>
				<van-col span="1"></van-col>
			</div>
		</div>
		<van-divider>没有更多了</van-divider>
		
	</div>
	
	<script>
		var data4Vue = {
			totalNow: 100,
			rewards: []
		};
		
		var vue = new Vue({
			el: '#app',
			data: data4Vue,
			mounted() {
				this.list();
			},
			methods: {
				onClickLeft() {
					goBack();
				},
				list() {
					var url = "forereward";
					axios.get(url).then(function(response){
						vue.rewards = response.data;
						if(0==vue.rewards.length) {
							vue.totalNow = 0;
						}else {
							vue.totalNow = vue.rewards[0].total;
						}
					})
				}
			}
		});
	</script>
	
</body>
</html>
