<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/fore/foreHeader::html('搜索页')" ></head>

<body>

	<div id="app">

		<van-sticky>
			<van-row class="top-row">
				<van-col span="3">
					<van-icon name="arrow-left" class="top-back-icon" @click="onClickLeft" />
				</van-col>
				<van-col span="21">
					<van-search v-model="keyword" shape="round" placeholder="输入搜索内容" @search="onSearch"></van-search>
				</van-col>
			</van-row>
			<van-row>
				<van-col span="24" style="background-color: #FFFFFF;">
					<span>筛选</span>
				</van-col>
			</van-row>
		</van-sticky>

		<van-row class="">
			<van-list v-model="loading" :finished="finished" finished-text="没有更多了" :error.sync="error" error-text="请求失败，点击重新加载"
			 loading-text="努力加载中..." @load="onLoad">
				<van-col span="24" v-for="product in products" :key="product.id" @click="toProduct(product.id)">
					<van-card class="search-show-card" :num="product.stock" :price="product.originalPrice | formatMoneyFilter" :thumb="'img/productSingle/' + product.firstProductImage.id + '.jpg'">
						<div slot="title" style="font-size: 18px; margin-bottom: 8px;">
							{{product.name}}
						</div>
						<div slot="desc" style="color: #666564; margin-bottom: 8px;">
							{{product.subTitle}}
						</div>
					</van-card>
				</van-col>
			</van-list>
		</van-row>

	</div>

	<script>
		var data4Vue = {
			keyword: '',
			activeKey: 0,
			error: false,
			loading: false,
			finished: false,
			isLoading: false,
			products: []
		};

		var vue = new Vue({
			el: '#app',
			data: data4Vue,
			mounted() {
				this.keyword = getUrlParms("keyword");
			},
			methods: {
				onChange(index) {
					vant.Notify({
						type: 'primary',
						message: index
					});
				},
				onSearch(val) {
					location.href = "search?keyword=" + val;
				},
				onLoad() {
					// 异步更新数据
					
					var url = "foresearch?keyword=" + this.keyword;
					axios.post(url).then(function(response) {
						console.log(response.data);
						vue.products = response.data.list;

						// 数据全部加载完成
						if (vue.products.length >= response.data.size) {
							vue.finished = true;
						}
					})

					// 加载状态结束
					this.loading = false;
					
				},
				onClickLeft() {
					goBack();
				},
				toProduct(pid) {
					location.href = "product?pid=" + pid;
				}
			}
		});
	</script>

</body>
</html>